<div class="container">
  <div class="row">
    <div class="cake d-flex align-items-center mt-5">
      <p style="margin:100px auto;" class="text-nowrap font-weight-bold">
       ようこそ、ながのCAKEへ！<br>
       このサイトは、ケーキ販売のECサイトになります。<br>
       会員でない方も商品の閲覧はできますが、<br>
       購入には会員登録が必要になります。</p>
    </div>
  </div>

  <h3 style="margin:30px 60px;">新着商品</h3>
  <div class="row">
    <% @items.last(4).each do |item| %>
      <div class="col-lg-2 col-5 m-2 mx-auto">
        <div style="widht:200px; height:200px;" class="row">
          <%= link_to (image_tag item.get_image(200,200)),item_path(item.id),class:"d-flex align-items-center" %>
        </div>
        <div class="row mt-3">
          <%= item.name %>
        </div>
        <div class="row mt-3">
          ¥<%= item.price %>
        </div>
      </div>
    <% end %>
  </div>


</div>