@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

.select{
  width: 270px;
}

.cake{
  width: 100%;
  height: 100px;
  background-image: url(app/assets/images/cake_ya_building.png);
  background-size: cover;
  background-position: center;
}