@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

.select{
  width: 270px;
}

.cake{
  width: 80%;
  height: 300px;
  margin: 0 auto;
  background-image: url('../../assets/images/PAK57_ichigonocakeomedetou_TP_V.jpg');
  background-size: cover;
  background-position: center;
}